########################################################################
#				LES PARAMETRE DU SERVEUR BRAZIL
########################################################################

# Sensor web server configuration.
# We suppose we have only one sensor.

handler=main
log=5
port=1111
host=localhost
#
main.handlers=share hello
main.class=sunlabs.brazil.server.ChainHandler

#file handler
share.prefix=/file/
share.class=sunlabs.brazil.server.FileHandler

# thing handler
hello.prefix=/hello/
hello.class=sunlabs.brazil.server.HelloHandler











